body {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.digit {
  display: inline-block;
  font-size: 80px;
}

.redDigit {
  color: red;
}

.timer {
  display: block;
}

.startButton {
  display: block;
  margin: 20px;
}

.startButton button {
  color: white;
  background-color: green;
}

.resetButton button {
  color: white;
  background-color: blue;
}

.resetButton {
  display: block;
}

.button {
  width: 100px;
  height: 40px;
}

.button > button {
  border-radius: 5px;
  font-size: 1.3rem;
  height: 100%;
  width: 100%;
}

.red {
  color: red;
}