body {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.digit {
  display: inline-block;
  font-size: 80px;
}

.redDigit {
  color: red;
}

.timer {
  display: block;
}

.startButton {
  display: block;
}